@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand-bg: 252 254 246;
    --brand-text: 28 39 2;
    --brand-primary: 91 129 8;
    --brand-secondary: 90 231 246;
    --brand-accent: 13 86 222;
  }

  .dark {
    --brand-bg: 7 9 1;
    --brand-text: 242 253 216;
    --brand-primary: 208 247 126;
    --brand-secondary: 9 149 165;
    --brand-accent: 33 106 242;
  }

  body {
    @apply bg-brand-bg text-brand-text antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass-morphism {
    @apply bg-white/[0.03] backdrop-blur-xl border border-white/[0.08] shadow-glass;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}